body{
  overflow-y:hidden;
}
#faceImage{
  display:inline-block;
  background:BlueViolet;
  background-image: url("face.png");
  background-repeat: no-repeat;
  background-position: 53% 100%;
  width: -webkit-fill-available;
  height: 100%;
}


/*phone css*/
@media only screen and (max-width: 500px) {
    #leftArrow,#faceImage,#rightArrow,#header{
      display:none;
    }
    #container{
      height:100%;
    }
    #burger_menu{
      display:block;
      bottom:20px;
      right:30px;
      position:fixed;
    }

    #burger_menu {
        width:55px;
        height:55px;
        background:#1FB58F;
        border-radius: 50%;
    }

    .bar1, .bar2, .bar3{
      background-color:black;
      position:relative;
      width:33px;
      height:4px;
      margin: 8px 0 8px 11px;
      transition: 0.4s;
    }

    .bar1{
      margin-top:13px;
    }

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #1FB58F;
        overflow-x: hidden;
        transition: 0.5s;
    }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: black;
        display: block;
        transition: 0.3s;
    }

    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }

}

/*Phone finised*/
