
body, ul , h1, a{
  margin:0;
  padding:0;
}

@media (min-width:1025px){
  nav{
    background:green;
    width:fit-content;
    display:inline-block;
    vertical-align:middle;
    float:right;
  }

  ul {
      list-style-type:none;
      overflow: hidden;
      background-color: red;
      width:fit-content;
  }

  li {
    display:inline-block;
    background:grey;
  }

  li a {
      background:orange;
      display: block;
      color: black;
      text-decoration: none;
      font-size: 18px;
      padding: 10px 20px;
  }

  li a:hover {
      background-color: white;
  }

  nav ul li > a.active{
    border-bottom: 9px solid green;
    padding-bottom:1px;
  }

  #logo{
    background:red;
    display:inline-block;
    vertical-align:middle;
  }
  #logo img{
    display:inline-block;
    background:green;
    vertical-align:middle;
  }

  #logo div#logoName{
    display:inline-block;
    background:orange;
    vertical-align:middle;
    font-size: 20px;
  }

  #navGroup{
    background:grey;
    max-width: 1446px;
    margin: 0 auto;
    padding: 20px 20px 0px 20px;
  }

  #header{
    background:blue;
  }


  #leftArrow{
    display:inline-block;
    vertical-align: middle;
    background:Cyan;
    left:0;
  }
  #rightArrow{
    display:inline-block;
    vertical-align: middle;
    background:DarkBlue ;
    right:0;
  }

  #rightArrow img, #leftArrow img{
      margin-top: 63px;
  }

  #subContainer{
    background:DarkKhaki;
    width: fit-content;
    margin: 0 auto;
  }

  .arrowNav{
    width: 130px;
    height: 200px;
    top:40vh;
    position:fixed;
  }
}
