html, body{
  height:100%;
}


@media only screen and (min-width: 300px) {
  #burger_menu,#myNav{
    display:block;
  }

  #mainPanel{
  }
  #burger_menu{
    z-index: 1;
  }
  #container{
    overflow: auto;
    background-position: 50% 48%;
  }

  .Des_block{
    padding: 28px;
    margin: 30px auto;
    font-size: 16px;
    text-align: justify;
    width: 224px;

  }

  .Des_block span{
    font-size: 25px;
    display: block;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
  }

  .imageList img{
        width: 56px;
  }

  .imageList{
    text-align: center;
    width: 40%;
    display: inline-block;
    vertical-align: top;
  }

  #bottomPanel{
    margin-left: 34px;
    margin-bottom: 93px;
  }

  #bottomPanel span{
    display:block;
    padding-bottom: 21px;
    font-size: 25px;
    font-weight: bold;
  }

  .ButtonSwitch{
    width: 146px;
    margin-bottom: 11px;
  }

  .firstItem{
    display:inline-block;
    vertical-align: middle;
    padding:3px;
  }

  .secondItem{
    display:inline-block;
    vertical-align: middle;
    padding:5px;
  }

  .selected{
    background-color:#cee0f4;
    border-radius:5px;
  }

  #frontEnd div.ButtonSwitch:nth-of-type(1) img {
    width: 129px;
  }

  #frontEnd div.ButtonSwitch:nth-of-type(4) img {
    width: 128px;
  }

  #frontEnd div.ButtonSwitch:nth-of-type(3) div.secondItem img{
    width: 68px;
    height: 25px;
  }

  #backEnd span{
    margin-left: 15px;
  }

  #backEnd div.ButtonSwitch:nth-of-type(1) img, #backEnd div.ButtonSwitch:nth-of-type(2) img {
    width: 94px;
  }

}

@media only screen and (min-width: 360px) {
  .Des_block {
    font-size: 16px;
    text-align: justify;
    width: 265px;
  }
}

@media only screen and (min-width: 600px) {
  .Des_block {
    width: 395px;
    padding: 44px;
    line-height: 23px;
  }

  .Des_block p{
    font-size: 20px;
  }
  #bottomPanel{
    padding-left: 42px;
    padding-right: 51px;
  }

  #bottomPanel span{
    display: block;
    padding-bottom: 21px;
  }
  .ButtonSwitch{
    width: 240px;
  }

  #frontEnd div.ButtonSwitch:nth-of-type(1) img {
      width: 187px;
  }

  #frontEnd div.ButtonSwitch:nth-of-type(2) div img {
      width: 86px;
  }

  #frontEnd div.ButtonSwitch:nth-of-type(3) div img, #frontEnd div.ButtonSwitch:nth-of-type(3) div.secondItem img {
      width: 87px;
  }

  #frontEnd div.ButtonSwitch:nth-of-type(4) img {
          width: 188px;
  }

  #backEnd div.ButtonSwitch:nth-of-type(1) img, #backEnd div.ButtonSwitch:nth-of-type(2) img {
      width: 106px;
  }

  #backEnd span {
      margin-left: 32px;
  }
}

@media only screen and (min-width: 760px) {
  #bottomPanel{
    padding-left: 104px;
    padding-right: 126px;
  }
}

@media only screen and (min-width: 800px) {
  .Des_block {
    width: 465px;
    padding: 44px;
  }
  #bottomPanel{
    padding-left: 112px;
    padding-right: 152px;
  }

  #bottomPanel span{
    display: block;
    padding-bottom: 21px;
  }
}

@media (min-width:1025px){
  .Des_block{
    background:unset;
  }

  #mainPanel{
      margin: 0 auto;
      background:#f6f6f6;
      height:100%;
  }
  #container {
    height: calc(100vh - 120px);
      background-image:url("../images/647_3.jpg");
 background-size: 923px;
  }

  .Des_block{
    display:inline-block;
    width: 693px;
    padding:10px;
    margin: 20px 20px 20px 56px;
    border: unset;
  }

  .Des_block span{
    display:block;
  }

  #bottomPanel{
    padding-left: 172px;
  }

  #bottomPanel span{
    display:block;
    text-align:left;
    padding-left:130px;
    font-size:40px
  }

  .imageList{
    text-align:unset;
  }

  .imageList img{
    display:inline-block;
    padding:10px;
    margin:0;
    width: 129px;
  }
  #burger_menu{
    display:none;
  }

  #frontEnd{

  }
}

@media (min-width:1024px){
  .imageList{
    text-align:unset;
  }

  #frontEnd{
    margin-left: 126px;
  }
  #bottomPanel span {
    margin-left: unset;
  }
}

@media (min-width:1280px){
  #mainPanel {
    margin: 0 auto;
  }

  .Des_block{
    width: 422px;
    border: unset;
    width: unset;
  }

  .Des_block:nth-child(3){
    width: 956px;
  }

  #bottomPanel{
    padding-left: 50px;
    padding-right: unset;
  }

  #bottomPanel span {
    padding-left: unset;
    margin-left:unset;
  }
  #frontEnd{
    margin-left: 161px;
  }
}

@media (min-width:1440px){
  .Des_block{
    width: unset;
  }
  #mainPanel{
    overflow: hidden;
  }

  #bottomPanel span {
    padding-left: unset;
    margin-left:unset;
  }

  #frontEnd{
    margin-left: 161px;
  }

}
