@media only screen and (min-width: 300px) {
  #burger_menu,#myNav{
    display:block;
  }

  #mainPanel{
  }
  #burger_menu{
    z-index: 1;
  }
  #container{
    overflow: auto;
    background-position: 50% 48%;
  }

  .Des_block{
    background: rgba(168, 245, 255, 0.48);
    padding: 28px;
    margin: 30px auto;
    border: 6px solid black;
    border-radius: 45px;
    font-size: 16px;
    text-align: justify;
    width: 224px;

  }

  .Des_block span{
    font-size: 25px;
    display: block;
    font-weight: bold;
    margin-bottom: 16px;
  }

  #imageList img{
    width: 94px;
    margin: 20px;
  }

  #imageList{
    margin-bottom: 100px;
    text-align: center;
  }

  #bottomPanel span{
    font-size: 25px;
    font-weight: bold;
    padding-left: 22px;

  }

}

@media only screen and (min-width: 360px) {
  .Des_block {
    font-size: 16px;
    text-align: justify;
    width: 265px;
  }
}

@media only screen and (min-width: 600px) {
  .Des_block {
    width: 395px;
    padding: 44px;
    line-height: 23px;
  }
  #bottomPanel{
    padding-left: 42px;
    padding-right: 51px;
  }

  #bottomPanel span{
    display: block;
    padding-bottom: 21px;
  }
}

@media only screen and (min-width: 760px) {
  #bottomPanel{
    padding-left: 104px;
    padding-right: 126px;
  }
}

@media only screen and (min-width: 800px) {
  .Des_block {
    width: 465px;
    padding: 44px;
  }
  #bottomPanel{
    padding-left: 112px;
    padding-right: 152px;
  }

  #bottomPanel span{
    display: block;
    padding-bottom: 21px;
  }
}

@media (min-width:1025px){
  .Des_block{
    background:unset;
  }

  #mainPanel{
      width: 798px;
      margin: 0 auto;
  }
  #container {
    background: #3c8f7d;
    height: calc(100vh - 120px);
  }

  .Des_block{
    display:inline-block;
    width: 693px;
    padding:10px;
    margin: 20px 20px 20px 56px;
    border: unset;
  }

  .Des_block span{
    display:block;
  }

  #bottomPanel{
    padding-left: 172px;
  }

  #bottomPanel span{
    display:block;
    text-align:left;
    padding-left:130px;
    font-size:40px
  }

  #imageList{
    text-align:unset;
  }

  #imageList img{
    display:inline-block;
    padding:10px;
    margin:0;
    width: 129px;
  }
  #burger_menu{
    display:none;
  }
}

@media (min-width:1280px){
  #mainPanel {
    width: 1041px;
    margin: 0 auto;
  }

  .Des_block{
    width: 422px;
    border: unset;
  }

  .Des_block:nth-child(3){
    width: 956px;
  }

  #bottomPanel{
    padding-left: 50px;
    padding-right: unset;
  }

}
