html, body{
  height: 100%;
}
@media only screen and (min-width: 300px) {
  #mainPanel{
  }
  #container{
    overflow: auto;
    background-position: 50% 48%;
  }
  #burger_menu{
    z-index: 1;
  }
  #leftPanel{
        padding: 50px 50px 0px 50px;
        text-align: justify;
  }

  #leftPanel h1{
    font-size: 22px;
    margin-bottom: 20px;
  }

  #rightPanel{
    padding:50px;
        margin-bottom: 40px;
  }

  #rightPanel label{
    font-weight: bold;
  }

  #rightPanel input,#rightPanel textarea {
    background:white;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 3px;
  }

}

@media only screen and (min-width: 600px) {
  #leftPanel{
    line-height: 29px;
    font-size: 24px;
  }

  #leftPanel h1 {
    font-size: 35px;
  }

  #leftPanel div{
    padding-top: 36px;
    line-height: 45px;
  }

  #rightPanel label {
      font-size: 28px;
  }

  #rightPanel {
    margin-bottom: 55px;
  }

}

@media (min-width:1025px){
  #container {
    background-image:url("../images/647_3.jpg");
    background-size: 923px;
    height: calc(100vh - 120px);
    overflow: hidden;
  }

  #mainPanel{
    margin: 0 auto;
    background:#f6f6f6;
    height:100%;
  }

  #leftPanel{
    display: inline-block;
  }

  #rightPanel{
        width: 59%;
    display:inline-block;
    Vertical-align: top;
    margin-top: 34px;
      margin-left: 125px;
  }

  #leftPanel h1{
    font-size: 42px;
    margin-bottom: 34px;
  }

  #leftPanel div{
    line-height: 26px;
    font-size: 20px;
  }

  #rightPanel label{
    display:block;
    text-align: left;
    padding-left: 20px;
  }

  #rightPanel input{
      height: 33px;
      border-radius: 6px;

  }

}

@media (min-width:1440px){
  #leftPanel{
    padding-top: 28px;
  }

  #leftPanel > div{
    padding-top: unset;
  }

  #rightPanel {
    margin-top:unset;
  }
}
