@media only screen and (min-width: 300px) {
  #mainPanel{
  }
  #container{
    overflow: auto;
    background-position: 50% 48%;
  }
  #burger_menu{
    z-index: 1;
  }
  #leftPanel{
    padding: 50px;
  }

  #rightPanel{
    padding:50px;
        margin-bottom: 40px;
  }
  #rightPanel input,#rightPanel textarea {
    background:white;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 3px;
  }

}

@media (min-width:1025px){
  #container {
    background-color:#3c8f7d;
    height: calc(100vh - 120px);
  }

  #mainPanel{
    width:1558px;
    margin: 0 auto;
    padding:40px;
  }

  #leftPanel{
    width:400px;
    display: inline-block;
    margin-right:200px;
  }

  #rightPanel{
    width:380px;
    display:inline-block;
    margin-left:200px;
    Vertical-align: top;
    margin-top: 34px;
  }

  #rightPanel label{
    display:block;
    text-align: left;
    padding-left: 20px;
  }

  #rightPanel input{
      width: 370px;
      height: 33px;
      border-radius: 6px;

  }
}
