html, body {}

* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

body{
  margin:0;

}

@font-face {
    font-family: haziness;
    src: url(../fonts/Haziness.ttf);
}

a{
  color:black;
}

.active{
  border-bottom: 6px solid #6bc0af;
  color:white;
}

@media only screen and (min-width: 300px) {
  .arrowNav {
    display:none;
  }
  #container {
    width:100%;
    height:100%;
    position: relative;
    background: url("../images/profile.jpg");
    background-position:50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #burger_menu,#myNav{
    display:block;
  }

  #logo{
    display:none;
  }

  #burger_menu{
    bottom:20px;
    right:30px;
    position:fixed;
  }

  #burger_menu {
      width:55px;
      height:55px;
      background:#1FB58F;
      border-radius: 50%;
  }

  #burger_menu div{
    display:block;
  }

  .bar1, .bar2, .bar3{
    background-color:black;
    position:relative;
    width:33px;
    height:4px;
    margin: 8px 0 8px 11px;
    transition: 0.4s;
  }

  .bar1{
    margin-top:13px;
  }


      .overlay {
          height: 100%;
          width: 0;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          background-color: #1FB58F;
          overflow-x: hidden;
          transition: 0.5s;
      }

      .overlay-content {
          position: relative;
          top: 25%;
          width: 100%;
          text-align: center;
          margin-top: 30px;
      }

      .overlay a {
          padding: 8px;
          text-decoration: none;
          font-size: 36px;
          /*color: black;*/
          display: block;
          transition: 0.3s;
      }

      .overlay a:hover, .overlay a:focus {
          color: #f1f1f1;
      }

      .overlay .closebtn {
          position: absolute;
          top: 20px;
          right: 45px;
          font-size: 60px;
      }
      .overlay a {font-size: 20px}
      .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
      }
}

@media (min-width:1025px){

  #container {
    background: white;
    height: 100%;
  }

  #burger_menu{
    display:none;
  }

  #header{
      display:block;
      background:#52AD9C;
      height:120px;

  }

  #navGroup{
    max-width: 1700px;
    margin: 0 auto;
    padding: 34px 20px 0px 20px;
    height:100%;
  }

  #logo{
    display:inline-block;
    vertical-align:middle;
    margin-left:249px;
  }

  #logo img{
    display:inline-block;
    vertical-align:middle;
    margin-top: -10px;

  }

  #logoName{
    display:inline-block;
    vertical-align:middle;
    font-size:20px;
  }

  #logoName h1{
    margin:0;
    padding:0;
    /*font-family: haziness;*/
    margin-left: 40px;
    font-size: 2em;
    letter-spacing: 9px;

  }

  #logo:hover {
    color:white;
    cursor:pointer;
  }

  #myNav{
    height: unset;
    position: unset;
    z-index: unset;
    top: unset;
    left: unset;
    background: unset;
    overflow: unset;
    transition: unset;
    width: auto;
    display:inline-block;
    float:right;


  }

  #myNav > a{
    display:none;
    font-size: 37px;
  }

  #myNav div{
    display:block;
    width:fit-content;
    position: initial;
    top: initial;
    text-align: initial;
    margin-top: initial;
    margin-top: 5px;
  }
  #myNav div a{
    display:inline-block;
    font-size: 24px;
    padding: initial;
    text-decoration: initial;
    display: initial;
    transition: initial;
    margin-right: 35px;
  }

  #rightArrow {
      display: inline-block;
      vertical-align: middle;
      right: 312PX;
  }

  #leftArrow {
      display: inline-block;
      vertical-align: middle;
      left: 300PX;
  }



  .arrowNav {
      width: 130px;
      height: 200px;
      top: 46vh;
      position: fixed;
      text-align: center;
  }

  .arrowNav:hover{
    cursor:pointer;
  }

  .arrowNav:hover img{
    width:60px;
  }

  .arrowNav img{
    margin-top:63px;
    width:50px;
    -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
    transition: width 0.5s;

  }

}
