body{
  margin:0;
}

#burger_menu,#intro,#myNav,#face{
  display:none;
}

@media only screen and (max-width: 500px) {

  #burger_menu,#intro,#myNav,#face{
    display:block;
  }

  #header{
    display:none;
  }

    #burger_menu{
      bottom:20px;
      right:30px;
      position:fixed;
    }

    #burger_menu {
        width:55px;
        height:55px;
        background:#1FB58F;
        border-radius: 50%;
    }

    #burger_menu div{
      display:block;
    }

    .bar1, .bar2, .bar3{
      background-color:black;
      position:relative;
      width:33px;
      height:4px;
      margin: 8px 0 8px 11px;
      transition: 0.4s;
    }

    .bar1{
      margin-top:13px;
    }

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #1FB58F;
        overflow-x: hidden;
        transition: 0.5s;
    }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: black;
        display: block;
        transition: 0.3s;
    }

    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }

}





/*Desktop*/

@media only screen and (min-width: 1500px) {
  body, ul , h1, a{
    margin:0;
    padding:0;
  }

  nav{
    background:green;
    width:fit-content;
    display:inline-block;
    vertical-align:middle;
    float:right;
  }

  ul {
      list-style-type:none;
      overflow: hidden;
      background-color: red;
      width:fit-content;
      /*
      height:100%;
      margin-right:200px;*/

  }

  li {
    display:inline-block;
    background:grey;
      /*float: right;
      background:grey;
      height:100%;*/
  }

  li a {
      background:orange;
      display: block;
      color: black;
      text-decoration: none;
      font-size: 18px;
      padding: 10px 20px;
      /*display: block;
      color: white;
      text-align: center;
      padding: 34px 70px;
      height:100%;*/
  }

  li a:hover {
      background-color: white;
  }

  nav ul li > a.active{
    border-bottom: 9px solid green;
    padding-bottom:1px;
  }

  #logo{
    background:red;
    display:inline-block;
    vertical-align:middle;
  }
  #logo img{
    display:inline-block;
    background:green;
    vertical-align:middle;
  }

  #logo div#logoName{
    display:inline-block;
    background:orange;
    vertical-align:middle;
    font-size: 20px;
  }

  #navGroup{
    background:grey;
    max-width: 1446px;
    margin: 0 auto;
    padding: 20px 20px 0px 20px;
  }

  #header{
    background:blue;
  }

  #container{
    background:#cddc39;
    height: calc(100vh - 74px);
    text-align: center;
  }


  #leftArrow{
    display:inline-block;
    vertical-align: middle;
    background:Cyan;
    left:0;
  }
  #rightArrow{
    display:inline-block;
    vertical-align: middle;
    background:DarkBlue ;
    right:0;
  }

  #rightArrow img, #leftArrow img{
      margin-top: 63px;
  }

  #subContainer{
    background:DarkKhaki;
    width: fit-content;
    margin: 0 auto;
  }

  .arrowNav{
    width: 130px;
    height: 200px;
    top:40vh;
    position:fixed;
  }
}
