body{
  margin:0;
}

#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif") no-repeat center center rgba(0,0,0,0.25)
}


@media only screen and (min-width: 300px) {
    .arrowNav {
      display:none;
    }

    #face img{
      border-radius: 50%;
      width:100px;
  }

    #face{
      position:fixed;
      left:38%;
      top:10%;
    }

    #intro{
      top:40%;
      margin: 0 auto;
      width:80%;
      line-height:26px;
      position:relative;
      text-align: center;
    }

    #burger_menu,#intro,#myNav,#face{
      display:block;
    }


}

@media only screen and (min-width: 600px) {
  #intro{
    font-size: 27px;
    line-height: 38px;
  }

  #face {
    top: 14%;
  }

  #face img{
    width: 130px;
  }
}

@media only screen and (min-device-width : 800px){

  #face{
    left: 39%;
  }

  #face img{
    width: 165px;
  }

  #intro{
    font-size: 28px;
    line-height: 45px;
    top: 43%;
  }
}

@media (min-width:1025px){
  #face img{
    display:none;
  }

  #burger_menu{
    display:none;
  }

  #intro{
    display:none;
  }

  #container {
    background: #cddc39;
    height: calc(100vh - 120px);
    overflow:hidden;
  }

  #face {
      position: initial;
      left:initial;
      top:initial;
      background: #3c8f7d;
      height: 100%;
      display: inline-block;
      background-image: url(../images/face_2.png);
      background-repeat: no-repeat;
      background-position: 53% 100%;
      background-size: contain;
      width: -webkit-fill-available;
      height: 100%;

  }
}
