body{
  margin:0;
}


@media only screen and (min-width: 300px) {
    .arrowNav {
      display:none;
    }
    #container {
      width:100%;
      height:100%;
      position: relative;
      background: url("../images/profile.jpg");
      background-position:50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }

    #face img{
      border-radius: 50%;
      width:100px;
  }

    #face{
      position:fixed;
      left:38%;
      top:10%;
    }

    #intro{
      top:40%;
      margin: 0 auto;
      width:80%;
      line-height:26px;
      position:relative;
      text-align: center;
    }

    #burger_menu,#intro,#myNav,#face{
      display:block;
    }


}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  #face{
    left: 39%;
  }

  #face img{
    width: 165px;
  }

  #intro{
    font-size: 28px;
    line-height: 45px;
    top: 37%;
  }
}

@media (min-width:1025px){
  #face img{
    display:none;
  }

  #intro{
    display:none;
  }

  #container {
    background: #cddc39;
    height: calc(100vh - 120px);
  }

  #burger_menu{
    display:none;
  }

  #header{
      display:block;
      background:#237e73;
      height:120px;
  }

  #navGroup{
    max-width: 1700px;
    margin: 0 auto;
    padding: 34px 20px 0px 20px;
    height:100%;
  }

  #logo{
    display:inline-block;
    vertical-align:middle;
  }

  #logo img{
    display:inline-block;
    vertical-align:middle;
    margin-top: -10px;

  }

  #logoName{
    display:inline-block;
    vertical-align:middle;
    font-size:20px;
  }

  #logoName h1{
    margin:0;
    padding:0;
    font-family: haziness;
    margin-left: 40px;
    font-size: 2em;
    letter-spacing: 9px;

  }

  #logo:hover {
    color:white;
    cursor:pointer;
  }

  #myNav{
    height: unset;
    position: unset;
    z-index: unset;
    top: unset;
    left: unset;
    background: unset;
    overflow: unset;
    transition: unset;
    width: auto;
    display:inline-block;
    float:right;


  }

  #myNav > a{
    display:none;
    font-size: 37px;
  }

  #myNav div{
    display:block;
    width:fit-content;
    position: initial;
    top: initial;
    text-align: initial;
    margin-top: initial;
    margin-top: 5px;
  }
  #myNav div a{
    display:inline-block;
    font-size: 24px;
    padding: initial;
    text-decoration: initial;
    display: initial;
    transition: initial;
    margin-right: 35px;
  }

  #rightArrow {
      display: inline-block;
      vertical-align: middle;
      right: 0;
  }

  #leftArrow {
      display: inline-block;
      vertical-align: middle;
      left: 0;
  }



  .arrowNav {
      width: 130px;
      height: 200px;
      top: 40vh;
      position: fixed;
      text-align: center;
  }

  .arrowNav:hover{
    cursor:pointer;
  }

  .arrowNav:hover img{
    width:60px;
  }

  .arrowNav a img{
    margin-top:63px;
    width:50px;
    -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
    transition: width 0.5s;

  }

  #face {
      position: initial;
      left:initial;
      top:initial;
      background: #3c8f7d;
      height: 100%;
      display: inline-block;
      background-image: url(../images/face_2.png);
      background-repeat: no-repeat;
      background-position: 53% 100%;
      background-size: contain;
      width: -webkit-fill-available;
      height: 100%;

  }
}
