/*

Ocean
#1FB58F

Sand
#EAB126

Cocktail
#F24C4E

Palm
#1B7B34

*/

body{
  margin:0;
}


@media only screen and (max-width: 500px) {


    #face img{
      border-radius: 45%;
    }

    #face{
      position:relative;
      background-position: 50% 70%;
    }

    #profileDetail{
      position: relative;
      display: inline-block;
      top: -30px;
      left: 5px;
      line-height: 22px;
    }

    #name{
      font-weight: bold;
    }

    #faceImage{
      margin-top: 14px;
      padding-bottom: 13px;
      margin-left: 20px;
    }
    .workDescription{
      background:red;
      padding:10px;
      line-height: 25px;
      text-align:center;

    }

    #footer{
      padding-top: 100px;
      background:blue;
    }

}
